#forgotPassword {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #F6F6F7;
    padding: 40px 0px;
    .container {

        width: 1030px;
        background-color: white;
        border-radius: 10px;

        .row {
            .forgotImage {
                margin-right: 30px;

                img {
                    width: 100%;
                    border-radius: 5px;
                }
            }

            .forgotInput {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                h2 {
                    padding: 0;
                    margin: 0 0 8px;
                    font-size: 24px;
                    color: #151b39;
                    font-weight: 700;
                    padding-bottom: 10px ;
                }
                form {
                    input{
                        width: 350px;
                    }
                    input:focus{
                        box-shadow: none;
                    }   
                    button{
                        border: none;
                        background-color: #24AEB1;
                        transition: all 0.4s;
                    }
                    button:hover{
                        background-color: #24afb1b6;

                    }
                }
            }

        }
    }
}