@media only screen and (max-width: 1095px) {
    header {
        height: 145px !important;
        
        .container-fluid {
            .row {
                display: flex !important;
                justify-content: center !important;
                .headLogo {
                    .headerLogoImage {
                        img {
                            padding-right: 15px !important;
                            width: 100% !important;
                            height: 50px !important;
                        }
                    }
                }
                .headUser {
                    padding-top: 20px;
                    padding-bottom: 15px;
                    width: 100% !important;
                    display: flex;
                    justify-content: center !important;
                }
            }
        }
    }
}

@media only screen and (max-width: 992px) {
    #basket {
        .container {
            h1 {
               text-align: center !important;
            }
            .products {
                justify-content: center !important; 
               
                .payment {
                    width: 400px !important;
                    margin-left: 0px !important;
                }
            }
        }
    }
}




