@media only screen and (max-width: 1095px) {
    header {
        height: 145px !important;

        .container-fluid {
            .row {
                display: flex !important;
                justify-content: center !important;

                .headLogo {
                    .headerLogoImage {
                        img {
                            padding-right: 15px !important;
                            width: 100% !important;
                            height: 50px !important;
                        }
                    }
                }

                .headUser {
                    padding-top: 20px;
                    padding-bottom: 15px;
                    width: 100% !important;
                    display: flex;
                    justify-content: center !important;
                }
            }
        }
    }
}

@media only screen and (max-width: 992px) {
    #basket {
        .container {
            h1 {
                text-align: center !important;
            }

            .products {
                justify-content: center !important;

                .payment {
                    width: 400px !important;
                    margin-left: 0px !important;
                }
            }
        }
    }

    #profile {
        background-color: #F3F7FB;

        .container {
            .row {
                .profileBox {
                    flex-direction: column;
                    justify-content: center !important;
                    align-items: center !important;

                    .tab-content {
                        .tab-pane {
                            table {
                                thead {
                                    tr {
                                        th {
                                            padding: 10px 25px !important;
                                        }
                                    }

                                    .labTests {
                                        th {
                                            padding: 10px 15px !important;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #orderBeauty {
        .container {
            .row {
                .OrderB {
                    border-right: 0px !important;
                    border-bottom: 1px solid rgba(11, 18, 25, .2);
                    margin-bottom: 20px;

                    .row {

                        .leftOrder {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;
                        }

                        .orderRight {
                            display: flex;
                            justify-content: center;
                        }
                    }
                }

                .Beauty {
                    .leftBeauty {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;

                    }

                    .beautyRight {
                        display: flex;
                        justify-content: center !important;
                    }
                }

            }
        }
    }

    footer {
        .container-fluid {

            .footUp {

                .footImage {
                    text-align: center;

                }
            }

            .footMiddle {
                .footCompany {
                    ul {
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        align-items: center;
                    }
                }

                .footShopping {
                    ul {
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        align-items: center;
                    }
                }
            }



            .footSocial {
                ul {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                }
            }

            .footSubscribe {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;

                p {
                    padding: 0px 20px !important;
                }
            }

            .copyRight {
                .copyBox {
                    display: flex;
                    justify-content: center !important;

                }
            }
        }
    }

    #pDetail {
        .container {
            .row {
                .productRight {
                    padding-top: 10px !important;
                }
            }
        }
    }

    #shopFilter {
        padding: 20px 0px;

        .container {
            .shopLeft {

                .shopFilter {



                    .filterBrands {
                        .noneAccordion {
                            display: none;
                        }
                    }

                    .filterBrands {
                        .accordion {
                            display: inline-block !important;
                        }
                    }
                }
            }
        }
    }

    #productComments {
        .container {
            .commentWrite {
                .commentReview {
                    .form-floating {
                        form {
                            .commentRate {
                                .row {
                                    input {
                                        width: 100% !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }

        }
    }
}